<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/album">Album</a></li>
        </ul>
    </nav>
    <h1>Welcome to the Home Page!</h1>
    <div>
        <div class="card" style="width: 18rem;">
            <img src="{{data.img}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card Title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{{data.img}}" class="btn btn-primary">Click here for larger image</a>
            </div>
          </div>
    </div>
    <p>This is my home page for this assignment</p>
</body>
</html>